In [1]:
#importing packages 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/Users/sasha/Desktop/DATASCIENCE/2023/Mini-Project/data.nosync/cleaned_EXPENDITURE_data.csv')
df = df.drop(['Unnamed: 0'], axis =1)
df.head()
df = df.rename(columns={'type':'type_'})

In [3]:
customers = df.groupby(['from_account','type_']).agg({'money_amount':'sum'})
customers = customers.reset_index().pivot(index = 'from_account', columns = 'type_', values='money_amount')
customers['x'] = customers['Inferior ']+(2*customers['Normal '])
customers = customers.reset_index()
customers.head()

type_  from_account   Inferior        Normal              x
0               1.0  511.756790  17761.593923  36034.944637
1              11.0  134.464865   7034.631646  14203.728156
2              18.0  103.050000   5076.056343  10255.162686
3              21.0  950.224367  20161.972033  41274.168433
4              23.0  279.115730   8343.571941  16966.259612

In [4]:
percentiles = pd.read_csv('/Users/sasha/Desktop/DATASCIENCE/2023/Mini-Project/data.nosync/Percentiles_Income.csv')
percentiles['After_tax'] = percentiles['After_tax'].map(lambda x: int(x.replace(',','')))
percentiles['Before_tax'] = percentiles['Before_tax'].map(lambda x: int(x.replace(',','')))
percentiles.head()

   Percentile  After_tax  Before_tax
0           1      12700       12700
1           2      12900       13000
2           3      13200       13300
3           4      13400       13600
4           5      13600       13800

In [5]:
x_s = np.array(customers['x'])
from scipy import stats
customers['Percentile'] = customers['x'].map(lambda x: round(stats.percentileofscore(x_s, x)))
customers['Percentile'] = customers['Percentile'].map(lambda x: 1 if x==0 else 99 if x==100 else x)
customers = pd.merge(customers, percentiles)
customers.head()

,from_account,Inferior,Normal,x,Percentile,After_tax,Before_tax
0,1.0,511.756790,17761.593923,36034.944637,99,121000,183000
1,21.0,950.224367,20161.972033,41274.168433,99,121000,183000
2,45.0,215.681159,19175.864958,38567.411075,99,121000,183000
3,53.0,991.650924,17966.606913,36924.864750,99,121000,183000
4,64.0,201.513333,15282.259502,30766.032338,99,121000,183000

In [6]:
#customers.to_csv('/Users/sasha/Desktop/DATASCIENCE/2023/Mini-Project/data.nosync/income_predicted.csv')